[submodule "nestjs-realworld-example-app"]
	path = nestjs-realworld-example-app
	url = git@github.com:mikro-orm/nestjs-realworld-example-app.git
[submodule "nestjs-example-app"]
	path = nestjs-example-app
	url = git@github.com:mikro-orm/nestjs-example-app.git
[submodule "express-js-example-app"]
	path = express-js-example-app
	url = git@github.com:mikro-orm/express-js-example-app
[submodule "express-ts-example-app"]
	path = express-ts-example-app
	url = git@github.com:mikro-orm/express-ts-example-app
[submodule "koa-ts-example-app"]
	path = koa-ts-example-app
	url = git@github.com:mikro-orm/koa-ts-example-app
[submodule "graphql-ts-example-app"]
	path = graphql-ts-example-app
	url = git@github.com:driescroons/mikro-orm-graphql-example.git
