[submodule "nestjs-realworld-example-app"]
	path = nestjs-realworld-example-app
	url = git@github.com:mikro-orm/nestjs-realworld-example-app.git
[submodule "nestjs-example-app"]
	path = nestjs-example-app
	url = git@github.com:mikro-orm/nestjs-example-app.git
[submodule "express-js-example-app"]
	path = express-js-example-app
	url = git@github.com:mikro-orm/express-js-example-app
[submodule "express-ts-example-app"]
	path = express-ts-example-app
	url = git@github.com:mikro-orm/express-ts-example-app
