[submodule "nestjs-realworld-example-app"]
	path = nestjs-realworld-example-app
	url = git@github.com:mikro-orm/nestjs-realworld-example-app.git
[submodule "nestjs-example-app"]
	path = nestjs-example-app
	url = git@github.com:mikro-orm/nestjs-example-app.git
